{% extends '@layout/default.html.twig' %} {# para concatenar no twig usa o ~ #}
{% block title %}Exclusão de contato - {{ parent() }}{% endblock %}
{% block content %}
    {% set name = form.get('name') %}
    {% do name.setattribute('class','form-control') %}

    {% set email = form.get('email') %}
    {% do email.setAttribute('class','form-control') %}

    {% set submit = form.get('submit') %}
    {% do submit.setAttribute('class','form-control') %}

    {% do form.setAttribute('action',url('customer.delete',{id: form.getObject().id})) %}
    {% do form.prepare() %}
    <div class="row">
        <div class="col-md-8">
            <div class="box box-danger">
                <div class="box-body">
                    <form name="form_disabled" role="form">
                        <fieldset disabled>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Nome:</label>
                                    <input type="text" class="form-control" name="name" value="{{ customer.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" name="email" value="{{ customer.email }}" required="required">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <form name="form" role="form" method="post" action="{{ url('customer.delete',{id: customer.id}) }}">
                        <input type="hidden" class="form-control" name="_method" value="DELETE">
                        <div class="box-footer">
                            <button class="btn btn-danger" type="submit">Excluir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_header %}
    Exclusão de Contato - {{ customer.name }}
{% endblock %}